<h1>Write a new message</h1>
<h3>TO: <%=@receiver.name%></h3>
<h3>FROM: <%=@sender.name%></h3>
<h3><%=@receiver.name%>'s available yards</h3>
<div class = "col-xs-6">
<% @yards.each do |yard|%>
<%=link_to yard_path_url(yard) do %>
<%= image_tag('http://i.imgur.com/5gkUOut.jpg')%>
<%end%>
<h3><%= yard.title%></h3>
<%= yard.description%><br/>
<%if yard.kid_and_pet_friendly%>
<p>Kid and Pet friendly!</p>
<%else%>
<p>No pets or kids sadly</p>
<%end%>
<%if yard.fire_friendly%>
<p>Campfires allowed!</p>
<%else%>
<p>No campfires</p>
<%end%>
<%= yard.city %>
<%= yard.zipcode%>
<%end%>
</div>
