<!DOCTYPE html>
<html>
  <head>
    <title>YardSpace</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>
  <body>
    <%= render 'partials/navbar' %>
    <% flash.each do |name, msg| %>
  <div class="myAlert<% if name==" error" %> alert-danger <% elsif name==" success" %> alert-success <% else %> alert-info <% end %>">
    <%= msg %>
  </div>
  <% end %>
  <div class ="container">
<br /><br />
  <div class = "row">
    <div class = "col-xs-8 text-center">
<h1>Write a new message</h1>
<h3>TO: <%=@receiver.name%></h3>
<%= form_for(:message, :url => create_message_path_url(@message), html: {method: :post}) do |f| %>
<%= f.text_area :message, placeholder: "Write you message to "+@receiver.name+" here" , :cols => "80", :rows=>"3"%><br />
<%= f.hidden_field :receiver_id, :value => @receiver.id.to_s%>
<%= f.submit "post", :controller => 'messages'%>
</div>
<div class = "col-xs-4 text-center">
  <h1><%=@receiver.name%>'s yards</h1>
<% @yards.each do |yard|%>
<%=link_to yard_path_url(yard) do %>
<%= image_tag('http://i.imgur.com/5gkUOut.jpg')%>
<%end%>
<h3><%= yard.title%></h3>
<%= yard.description%><br/>
<%if yard.kid_and_pet_friendly%>
<p>Kid and Pet friendly!</p>
<%else%>
<p>No pets or kids sadly</p>
<%end%>
<%if yard.fire_friendly%>
<p>Campfires allowed!</p>
<%else%>
<p>No campfires</p>
<%end%>
<%= yard.city %>
<%= yard.zipcode%>
<hr />
<%end%>
</div>
<%end%>
</div>
</div>

</div>
<%= render 'partials/footer' %>

</body>
</html>
