<!DOCTYPE html>
<html>
  <head>
    <title>YardSpace</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>
  <body>
    <%= render 'partials/navbar' %>
    <% flash.each do |name, msg| %>
  <div class="myAlert<% if name==" error" %> alert-danger <% elsif name==" success" %> alert-success <% else %> alert-info <% end %>">
    <%= msg %>
  </div>
  <% end %>
  <%=link_to "back to inbox", messages_path_url(@curr_user)%>
<h1>Thread with<%=@other_user.name%></h1>
<% @all_messages.each do |msg|%>
  <% @sender = User.find_by_id(msg.sender_id)%>
<%= @sender.name%>
<%= msg.message %>
<%= msg.created_at%>
<hr />
<%end%>

<h3>Reply to: <%=@other_user.name%></h3>
<%= form_for(:message, :url => create_message_in_thread_path_url(@message), html: {method: :post}) do |f| %>
<%= f.text_area :message, placeholder: "Write you message to "+@other_user.name+" here" , :cols => "80", :rows=>"3"%><br />
<%= f.hidden_field :receiver_id, :value => @other_user.id.to_s%>
<%= f.submit "post", :controller => 'messages'%>
<%end%>
</body>
</html>
