<!DOCTYPE html>
<html>
  <head>
    <title>YardSpace</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Latest compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>
  <body>
    <%= render 'partials/navbar' %>
    <% flash.each do |name, msg| %>
  <div class="myAlert<% if name==" error" %> alert-danger <% elsif name==" success" %> alert-success <% else %> alert-info <% end %>">
    <%= msg %>
  </div>
  <% end %>
  <br /><br />
  <%=link_to messages_path_url(@curr_user) do %>
  <h3><span class ="glyphicon glyphicon-arrow-left"</span><span>Back2Inbox</span></h3>
  <%end%>
<h1 style ="margin-left:30px">Messages with <%=@other_user.name%></h1>
<br />
<div class ="message-box row">
<% @total_messages.each do |msg|%>
<% @sender = User.find_by_id(msg.sender_id)%>
<div class = "col-xs-2 text-center">
  <%=link_to user_path_url(@sender) do %>
  <%if @sender.image%>
  <img class="msg-pic" src="<%=@sender.image%>" alt="profile pic">
  <%else%>
  <img class="msg-pic" src="http://i.imgur.com/IulSm39.jpg" alt="profile pic">
  <%end%>
 <%end%>
    <hr />
</div>
<div class ="col-xs-10">
  <h4><%= @sender.name%>:
      <%= msg.message %></h4>
  <h6><%= msg.created_at%></h6>
  <hr />
</div>
<%end%>
</div>
<div class ="reply-msg">
<h3>Reply to: <%=@other_user.name%></h3>
<%= form_for(:message, :url => create_message_in_thread_path_url(@message), html: {method: :post}) do |f| %>
<%= f.text_area :message, placeholder: "Write you message to "+@other_user.name+" here" , :cols => "80", :rows=>"3"%><br />
<%= f.hidden_field :receiver_id, :value => @other_user.id.to_s%>
<%= f.submit "post", :controller => 'messages'%>
<%end%>
</div>
<%= render 'partials/footer' %>

</body>
</html>
