<!DOCTYPE html>
<html>
  <head>
    <title>YardSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>
  <body>
    <div class ="container-fluid">

    <nav id="mainNav" class="nav navbar-default" role="navigation">
      <div class="row" >
        <ul class="nav_padding_right">
          <%= link_to 'Home', '/'%>
          <% if @curr_user %>
            <%= link_to 'Profile', user_path_url(@curr_user) %>
          <%= link_to 'Log Out', logout_path, method: :delete%>
          <% else %>
            <%= link_to 'Log In', login_path %>|
            <%= link_to 'Sign Up', signup_path %>
          <% end %>

      <div class="row">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'SF-Bay Area', '/cities/sf_bay_area', controller: "yards"%></li>
              <li><%=link_to 'Santa Cruz', '/cities/santa_cruz', controller: "yards"%></li>
              <li><%=link_to 'Lake Tahoe', '/cities/lake_tahoe', controller: "yards"%></li>
              <li><%=link_to 'Yosemite', '/cities/yosemite', controller: "yards"%></li>
              <li><%=link_to 'Santa Barbara', '/cities/santa_barabara', controller: "yards"%></li>
              <li><%=link_to 'Sonoma', '/cities/sonoma', controller: "yards"%></li>
              <li><%=link_to 'Los Angeles', '/cities/los_angeles', controller: "yards"%></li>
            </ul>
          </li>
      </div>

    </nav>
    </div>


<div class = "row text-center weather">
  <div class = "col-xs-2">
    <%= @day0_date%><br />
    <%=image_tag('http://openweathermap.org/img/w/'+@day0_icon+'.png')%><br />
    <%= @day0_des%>
    <p>Day: <%= @day0_temp%> F</p>
    <p>Night: <%= @night0_temp%> F</p>
  </div>
  <div class = "col-xs-2">
    <%= @day1_date%><br />
    <%=image_tag('http://openweathermap.org/img/w/'+@day1_icon+'.png')%><br />
    <%= @day1_des%>
    <p>Day: <%= @day1_temp%> F</p>
    <p>Night: <%= @night1_temp%> F</p>
  </div>
  <div class = "col-xs-2">
    <%= @day2_date%><br />
    <%=image_tag('http://openweathermap.org/img/w/'+@day2_icon+'.png')%><br />
    <%= @day2_des%>
    <p>Day: <%= @day2_temp%> F</p>
    <p>Night: <%= @night2_temp%> F</p>
  </div>
  <div class = "col-xs-2">
    <%= @day3_date%><br />
    <%=image_tag('http://openweathermap.org/img/w/'+@day3_icon+'.png')%><br />
    <%= @day3_des%>
    <p>Day: <%= @day3_temp%> F</p>
    <p>Night: <%= @night3_temp%> F</p>
  </div>
  <div class = "col-xs-2">
    <%= @day4_date%><br />
    <%=image_tag('http://openweathermap.org/img/w/'+@day4_icon+'.png')%><br />
    <%= @day4_des%>
    <p>Day: <%= @day4_temp%> F</p>
    <p>Night: <%= @night4_temp%> F</p>
  </div>
  <div class = "col-xs-2">
    <%= button_to 'see more','https://weather.com/', class: "btn btn-large"%>
  </div>
</div>
<%if @yards.present?%>
<%@yards.each do |yard|%>
<%=link_to yard_path_url(yard) do %>
<%= image_tag('http://i.imgur.com/5gkUOut.jpg')%>
<%end%>
    <h3><%= yard.title%></h3>
  <%= yard.description%><br />
  <%if yard.kid_and_pet_friendly%>
    <p>Kid and Pet friendly!</p>
  <%else%>
    <p>No pets or kids sadly</p>
  <%end%>
  <%if yard.fire_friendly%>
    <p>Campfires allowed!</p>
  <%else%>
    <p>No campfires</p>
  <%end%>
  <%= yard.zipcode%>
  <hr />
<%end%>
<%else%>
<h3>OMG, no yards in this city, be the first</h3>
<%if logged_in?%>
<%= button_to 'post your yard',new_yard_path_url, :method=>'get'%>
<%end%>
<%end%>

</body>
</html>
