<!DOCTYPE html>
<html>
  <head>
    <title>YardSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>
  <body>
    <%= render 'partials/navbar' %>
    <br/>
    <h1 class="text-center"><%= @city%></h1>
    <div class="row text-center weather">
      <div class="col-xs-2">
        <%= @day0_date%><br/>
        <%=image_tag('http://openweathermap.org/img/w/'+@day0_icon+'.png')%><br/>
        <%= @day0_des%>
        <p>Day:
          <%= @day0_temp%>
          F</p>
        <p>Night:
          <%= @night0_temp%>
          F</p>
      </div>
      <div class="col-xs-2">
        <%= @day1_date%><br/>
        <%=image_tag('http://openweathermap.org/img/w/'+@day1_icon+'.png')%><br/>
        <%= @day1_des%>
        <p>Day:
          <%= @day1_temp%>
          F</p>
        <p>Night:
          <%= @night1_temp%>
          F</p>
      </div>
      <div class="col-xs-2">
        <%= @day2_date%><br/>
        <%=image_tag('http://openweathermap.org/img/w/'+@day2_icon+'.png')%><br/>
        <%= @day2_des%>
        <p>Day:
          <%= @day2_temp%>
          F</p>
        <p>Night:
          <%= @night2_temp%>
          F</p>
      </div>
      <div class="col-xs-2">
        <%= @day3_date%><br/>
        <%=image_tag('http://openweathermap.org/img/w/'+@day3_icon+'.png')%><br/>
        <%= @day3_des%>
        <p>Day:
          <%= @day3_temp%>
          F</p>
        <p>Night:
          <%= @night3_temp%>
          F</p>
      </div>
      <div class="col-xs-2">
        <%= @day4_date%><br/>
        <%=image_tag('http://openweathermap.org/img/w/'+@day4_icon+'.png')%><br/>
        <%= @day4_des%>
        <p>Day:
          <%= @day4_temp%>
          F</p>
        <p>Night:
          <%= @night4_temp%>
          F</p>
      </div>
      <div class="col-xs-2">
        <%= @day5_date%><br/>
        <%=image_tag('http://openweathermap.org/img/w/'+@day5_icon+'.png')%><br/>
        <%= @day5_des%>
        <p>Day:
          <%= @day5_temp%>
          F</p>
        <p>Night:
          <%= @night5_temp%>
          F</p>
      </div>
    </div>
    <div class="container city-back-color">

        <%if @yards.present?%>
        <%@yards.each do |yard|%>
        <div class="row yard-city">
          <%if yard.user.is_hosting == true%>
          <div class="col-xs-3 ">
            <h2><%= yard.title%></h2>
            <%=link_to yard_path_url(yard) do %>
            <%if yard.image%>
            <img class="city-pic" src='<%=yard.image%>' alt="profile pic">
            <%else%>
                <img class="city-pic" src="http://i.imgur.com/5gkUOut.jpg" alt="profile pic">
              <%end%>
            <%end%>
          </div>
          <div class="col-xs-3 yard-city-details">
            <%if yard.rating > 0 %>
            <h3 class ="peakaboo">Rating:
              <%=yard.rating / yard.r_count%>/10</h3>
            <%else%>
            <h3 class ="peakaboo">No ratings yet</h3>
            <%end%>
            <%if yard.kid_and_pet_friendly%>
            <h3 class="text-left peakaboo">Kid and Pet friendly!</h3>
            <%else%>
            <h3 class="text-left peakaboo">No pets or kids sadly</h3>
            <%end%>
            <h4 class="text-left peakaboo"><%= yard.zipcode%></h4>
            <%if yard.fire_friendly%>
            <h3 class="text-left">
              <span class="glyphicon glyphicon-fire peakaboo"></span>
              <span  class ="peakaboo">
                Campfires ok</span>
            </h3><br/>
            <%end%>
          </div>
          <div class="col-xs-6 user-city text-center">
            <%=link_to user_path_url(yard.user) do %>
            <%if yard.user.image%>
            <img class="profCity profilePic" src="<%=yard.user.image%>" alt="profile pic">
            <%else%>
            <img class="profCity profilePic" src="http://i.imgur.com/IulSm39.jpg" alt="profile pic">
            <%end%>            <%end%>
            <h3 class="text-center"><%=yard.user.name%></h3>
            <h3>Yards Available:<%= yard.user.yards.count%></h3>
          <%end%>
        </div>
      </div>
      <hr/>
        <%end%>

        <%end%>
      </div>
    <%= render 'partials/footer' %>

  </body>
</html>
