<!DOCTYPE html>
<html>
  <head>
    <title>YardSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>
  <body>
    <%= render 'partials/navbar' %>

<h1 align="center">Create a new trade yard!</h1>

<br>

<div class="container" >
  <div class="col-md-12">
    <%= form_for Yard.new, :url => create_yard_path_url(@yard)  do |f|%>
      <div class="container" >
        <div class="form-group" id="newYardForm">

          <%= f.label :title, 'Title' %><br>
          <%= f.text_field :title, class: "form-control", placeholder: "quick title for yard" %>
          <br/>
          <%= f.label :description, 'Description' %><br>
          <%= f.text_area :description, placeholder: "tell people how great your yard is", class: "form-control" %>
          <br/>
          <label>Select a city</label>
          <select id="cityDropdown" class="form-control" name="yard[city]">
            <option value=-1></option>
            <option value=0>Sf-Bay Area</option>
            <option value=1>Santa Cruz</option>
            <option value=2>Lake Tahoe</option>
            <option value=3>Yosemite</option>
            <option value=4>Santa Barbara</option>
            <option value=5>Sonoma</option>
            <option value=6>Los Angeles</option>
          </select>
          <%= f.label :zipcode, 'Provide zipcode for better accuracy' %><br>
          <%= f.number_field :zipcode, class: "form-control" %>
          <br/>
          <%= f.label :kid_and_pet_friendly, 'Kids and Pets ok?' %><br>
          <%= f.check_box :kid_and_pet_friendly, class: "form-control" %>
          <br/>
          <%= f.label :fire_friendly, 'What about campfires?' %><br>
          <%= f.check_box :fire_friendly, class: "form-control" %>
          <br/>
          <%= f.submit "Add yard", class: 'btn btn-primary btn-md center-block', align:"right" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<%= render 'partials/footer' %>

</body>
</html>
