<!DOCTYPE html>
<html>
  <head>
    <title>YardSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>
  <body>
    <%= render 'partials/navbar' %>
    <br /><br /><br />
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                  <img class="show-yard-pic" src="http://i.imgur.com/5gkUOut.jpg" alt="profile pic">
            </div>
            <div class="col-md-4">
                  <h1><%=@yard.title%></h1>
                  <%if @yard.r_count == 0%>
                  <%@stars = @yard.rating / 1%>
                  <%else%>
                  <%@stars = @yard.rating / @yard.rcount%>
                  <%end%>
                  <p><%= @stars %> stars</p>
              <%= @yard.description%>
              <br>
                <%if @yard.kid_and_pet_friendly%>
                <p>Kid and Pet friendly!</p>
                <%else%>
                <p>No pets or kids sadly</p>
                <%end%>
                <%if @yard.fire_friendly%>
                <span class = "glyphicon glyphicon-fire"></span><br />
                <%end%>
                <%= @yard.city %>
                <%= @yard.zipcode%>
              </br>
              <% if (logged_in? && @curr_user.id.to_s != @yard.user.id.to_s)%>
              <%= link_to new_booking_path_url(yard_id: @yard.id), :controller => 'bookings', :method => 'get' do %>
                <h3><span class ="glyphicon glyphicon-tent"></span><span>Camp Here!</span></h3>
                <%end%>
              <%end%>
            </div>
            <div class="col-md-4">
              <h3><%= @yard.user.name%></h3>
              <%=link_to user_path_url(@yard.user) do %>
              <%= image_tag('http://i.imgur.com/IulSm39.jpg')%><br/>
              <%end%>
              <% if (logged_in? && @curr_user.id.to_s != @yard.user.id.to_s)%>
              <%= link_to new_message_path_url(:user_id => @yard.user.id) do%>
              <h2><span class = "glyphicon glyphicon-envelope"></span></h2>
              <%end%>
              <%end%>
            </div>
          </div>
          <div class="row">
            <br />
            <h2 class="text-center">Reviews</h2>
            <% if logged_in?%>
            <div class="add-comment-box text-center">
              <%= form_for(:comment, :url => create_comment_path_url(@comment), html: {method: :post}) do |f| %>
              <%= f.text_area :title, placeholder: "title", :cols => "50", :rows=>"1"%><br/>
              <%= f.text_area :body, placeholder: "write a review about "+ @yard.title, :cols => "80", :rows=>"2"%>
              <%= f.hidden_field :yard_id, :value => @yard.id.to_s%>
              <%= f.submit "post", :controller => 'comments'%>
            </div>
            <%end%>
          <% else %>
            <h4>sign up to join in the commenting fun</h4>
            <%end%>
            <div class="comment-box">
              <%@comments.each do |comment| %>
              <h3><%= comment.title%></h3>
              <h4><%= comment.body%>
                by:
                <%= comment.user.name%>
              <% if (logged_in? && @curr_user.id.to_s == comment.user.id.to_s)%>
              <%= link_to destroy_comment_path_url(comment), :method=>'delete' do %>
              <span class="glyphicon glyphicon-remove" style="color:red"></span></h4>
              <%end%>
              <%end%>
              <%end%>
            </div>
          </div>
        </div>

      </body>
    </html>
