<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><%=@yard.title%></h1>
      <p><%= @yard.rating || 0 %>
        stars by
        <%= @yard.r_count || 0%>
        people</p>
      <%= image_tag('http://i.imgur.com/5gkUOut.jpg')%><br/>
      <%= @yard.description%><br/>
      <%if @yard.kid_and_pet_friendly%>
      <p>Kid and Pet friendly!</p>
      <%else%>
      <p>No pets or kids sadly</p>
      <%end%>
      <%if @yard.fire_friendly%>
      <p>Campfires allowed!</p>
      <%else%>
      <p>No campfires</p>
      <%end%>
      <%= @yard.city %>
      <%= @yard.zipcode%>
    </br>
      <% if (logged_in? && @curr_user.id.to_s != @yard.user.id.to_s)%>
      <%= link_to 'camp here', new_booking_path_url(yard_id: @yard.id), :controller => 'bookings', :method => 'get' %>
      <%end%>
    </div>
    <div class="col-md-6">
      <h4>Owner:<%= @yard.user.name%></h4>
      <%=link_to user_path_url(@yard.user) do %>
      <%= image_tag('http://i.imgur.com/IulSm39.jpg')%><br/>
      <%end%>
    </div>
  </div>
<h2 class="text-center">Comments</h2>
  <% if logged_in?%>
    <div class ="add-comment-box">
      <%= form_for(:comment, :url => create_comment_path_url(@comment), html: {method: :post}) do |f| %>
      <%= f.text_area :title, placeholder: "title", :cols => "50", :rows=>"1"%><br />
      <%= f.text_area :body, placeholder: "write a review about "+ @yard.title, :cols => "80", :rows=>"2"%>
      <%= f.hidden_field :yard_id, :value => @yard.id.to_s%>
      <%= f.submit "post", :controller => 'comments'%>
    </div>
    <%end%>
    <% else %>
      <h4>sign up to join in the commenting fun</h4>
  <%end%>
<div class ="comment-box">
<%@comments.each do |comment| %>
<h3><%= comment.title%></h3>
<h4><%= comment.body%> by: <%= comment.user.name%></h4>
<% if (logged_in? && @curr_user.id.to_s == comment.user.id.to_s)%>
    <%= link_to destroy_comment_path_url(comment), :method=>'delete' do %>
    <span class="glyphicon glyphicon-remove" style="color:red"></span>
    <%end%>
  <%end%>
<%end%>
</div>
</div>
