<br /><br />
<div class ="container">
    <h1>Friend list</h1>
<div class ="row">
<% @all_friends.each do |friend|%>
<%if friend.you_id == @curr_user.id%>
<% @person = User.find_by_id(friend.me_id)%>
<%else%>
<% @person = User.find_by_id(friend.you_id)%>
<%end%>
  <div class ="col-xs-4">
    <%=link_to user_path_url(@person) do %>
    <%if @person.image%>
    <img class="small-profilePic" src="<%=@person.image%>" alt="profile pic" style ="margin:10px">
    <%else%>
    <img class="small-profilePic" src="http://i.imgur.com/IulSm39.jpg" alt="profile pic" style ="margin:10px">
    <%end%>
  <%end%>
    <h3><%= link_to destroy_friends_path_url(@person), :method=>'delete' do%>
      <span class="glyphicon glyphicon-remove" style="color:red"></span>
      <%end%></h3>
      <h3><%= @person.name%></h3>
      <hr />
    </div>
      <%end%>
</div>
<h1>Friend Requests</h1>
<%if @pending_friends%>
  <% @pending_friends.each do |friend|%>
  <div class="row">
    <% @user = User.find_by_id(friend.me_id.to_s)%>
      <div class ="col-xs-4">
     <%=link_to user_path_url(@user) do %>
     <%if @user.image%>
     <img class="small-profilePic" src="<%=@user.image%>" alt="profile pic" style ="margin:10px">
     <%else%>
     <img class="small-profilePic" src="http://i.imgur.com/IulSm39.jpg" alt="profile pic" style ="margin:10px">
     <%end%>
   <%end%>
    <h3><%= @user.name%></h3>
    <br /><br />
    <div class ="row">
      <div class ="col-xs-4 text-right up">
        <h3><%= button_to 'Accept', accept_friends_path_url(@user), :method=>'patch', class:'green-btn'%></h3>
      </div>
      <div class ="col-xs-6 up">
        <h3><%= button_to 'Reject', destroy_friends_path_url(@user), :method=>'delete', class:'red-btn'%></h3>
      </div>
  </div>
</div>
</div>
    <hr />
  <%end%>
<%end%>
</div>
</div>

</div>
