

<nav id="mainNav" class=" nav navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="row" >
    <div class ="col-xs-2">
    <ul class="nav_padding_right">
      <p class ="pull-left"><%= link_to '/' do %>
      <span class ="glyphicon glyphicon-tent"></span></p>
      <%end%>
    </div>
    <div class ="col-xs-4 pull-left">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%=link_to 'SF-Bay Area', '/cities/sf_bay_area', controller: "yards"%></li>
          <li><%=link_to 'Santa Cruz', '/cities/santa_cruz', controller: "yards"%></li>
          <li><%=link_to 'Lake Tahoe', '/cities/lake_tahoe', controller: "yards"%></li>
          <li><%=link_to 'Yosemite', '/cities/yosemite', controller: "yards"%></li>
          <li><%=link_to 'Santa Barbara', '/cities/santa_barbara', controller: "yards"%></li>
          <li><%=link_to 'Sonoma', '/cities/sonoma', controller: "yards"%></li>
          <li><%=link_to 'Los Angeles', '/cities/los_angeles', controller: "yards"%></li>
        </ul>
      </li>
    </div>
    <div class ="col-xs-2">
      <% if User.find_by_id(session[:user_id]) %>
        <p class = "pull-right"><%= link_to user_path_url(User.find_by_id(session[:user_id])) do %>
        <span><%=(User.find_by_id(session[:user_id]).email)%></span><span class="cart glyphicon glyphicon-user"></span></p>
        <%end%>
        <%end%>
      </div>
      <div class ="col-xs-2">
        <% if User.find_by_id(session[:user_id]) %>
          <p class = "pull-right"><%= link_to messages_path_url(User.find_by_id(session[:user_id])) do%>
            <span>Inbox <span class="cart glyphicon glyphicon-inbox"></span>
            <%end%>
          <span style="color:red"><%=@inbox.count%></span></p>
      <%end%>
    </div>
    <div class ="col-xs-2">
      <% if User.find_by_id(session[:user_id]) %>
      <p class = "text-center"><%= link_to 'Log Out', logout_path, method: :delete%></p>
      <% else %>
      <p class ="pull-center"><%= link_to 'Log In', login_path %> |
      <%= link_to 'Sign Up', signup_path %></p>
      <% end %>
    </div>
</nav>
</div>
