
<!DOCTYPE html>
<html>
  <head>
    <title>YardSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>
  <body>
    <%= render 'partials/navbar' %>
    <br /><br />
    <div class ="container">
      <%=link_to user_path_url(@curr_user) do %>
      <h3><span class ="glyphicon glyphicon-arrow-left"</span><span>Back2Profile</span></h3>
      <%end%>
<h2 class ="text-center">Accepted Requests</h2>
<div class ="row">
  <div class="col-xs-3 text-center">
    <h2>Yard Requested</h2>
  </div>
  <div class="col-xs-3 text-right">
    <h2>Camper</h2>
  </div>
  <div class="col-xs-3 text-center">
    <h2>Details</h2>
  </div>
  <div class="col-xs-3 text-center">
    <h2>Date yyyy/mm/dd</h2>
  </div>
</div>
<% if @incoming_answered_bookings.present?%>
<% @incoming_answered_bookings.each do |booking|%>
<% @camper = User.find_by_id(booking.camper_id)%>
<% @yard = Yard.find_by_id(booking.yard_id)%>
<div class ="row darkgreen" style="padding:10px">
  <div class ="col-xs-1">
    <%=link_to yard_path_url(@yard) do %>
    <%if @yard.image%>
    <img class="msg-pic small-pic" src='<%=@yard.image%>' alt="profile pic">
    <%else%>
        <img class="msg-pic small-pic" src="http://i.imgur.com/5gkUOut.jpg" alt="profile pic">
      <%end%>
    <%end%>
  </div>
  <div class ="col-xs-2">
    <h4><%= @yard.title %> </h4>
  </div>
  <div class ="col-xs-2 text-right">
    <%=link_to user_path_url(@camper) do %>
    <img class="msg-pic small-pic text-right" src="http://i.imgur.com/IulSm39.jpg" alt="profile pic">
    <%end%>
  </div>
  <div class ="col-xs-2">
<h4><%= @camper.name%> </h4>
</div>
<div class ="col-xs-2">
<h4>group size: <%= booking.group_size %></h4>
<%if booking.pets_or_kids%>
<h4>Kids and/or pets</h4>
<%else%>
<h4>No kids or pets</h4>
<%end%>
</div>
<div class ="col-xs-3">
  <h4>From <%= Time.parse(booking.start_date.to_s).to_date.strftime("%B %-d, %y")%> to <%= Time.parse(booking.end_date.to_s).to_date.strftime("%B %-d, %y")%></h4>
</div>
</div>
<hr />
<%end%>
<%else%>
<h3>start accepting campers, it'll be fun i swear!</h3>
<%end%>
</div>

<%= render 'partials/footer' %>

</body>
</html>
