<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2><%= @user.name%></h2>
      <%= image_tag('http://i.imgur.com/IulSm39.jpg')%><br/>
      <%if logged_in? && @user.id == current_user.id%>
      <%= link_to 'Edit Profile',edit_user_path_url(@user)%><br/>
      <%end%>
      <%if logged_in? && @user.id != current_user.id%>
      <%= link_to 'Send Message',new_message_path_url(:user_id => @user.id)%><br/>
      <%end%>

    </div>
    <div class="col-xs-4 text-left">
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <h4><%= @user.email%></h4>
      <h4><%= @user.age%></h4>
      <h4><%= @user.bio%></h4>
      <h4><%= @user.gear%></h4>
    </div>
    <div class="col-xs-4 text-center">
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <%if @user.is_hosting%>
      <h4>they are hosting campers!</h4>
      <%else%>
      <h4>not hosting at the moment</h4>
      <%end%>
      <%if @user.is_traveling%>
      <h4>looking for places to camp</h4>
      <%else%>
      <h4>not looking to camp right now</h4>
      <%end%>
    </div>
  </div>
  <h1>My yards</h1>
  <%if logged_in? && @user.id == current_user.id%>
  <%= link_to new_yard_path_url, :method=>'get' do %>
  <h3>
    <span class="cart glyphicon glyphicon-plus"></span>
  </h3>
  <%end%>
  <%end%>
  <div class = "row">
  <% @yards.each do |yard|%>
  <div class = "col-xs-6">
  <%=link_to yard_path_url(yard) do %>
  <%= image_tag('http://i.imgur.com/5gkUOut.jpg')%>
  <%end%>
  <h3><%= yard.title%></h3>
  <%= yard.description%><br/>
  <%if yard.kid_and_pet_friendly%>
  <p>Kid and Pet friendly!</p>
  <%else%>
  <p>No pets or kids sadly</p>
  <%end%>
  <%if yard.fire_friendly%>
  <p>Campfires allowed!</p>
  <%else%>
  <p>No campfires</p>
  <%end%>
  <%= yard.city %>
  <%= yard.zipcode%>
  <%if logged_in? && @user.id == current_user.id%>
  <%= link_to destroy_yard_path_url(yard), :method=>'delete' do %>
  <h3>
    <span class="glyphicon glyphicon-remove"></span>
  <%end%>
  <%= link_to edit_yard_path_url(yard), :method=>'get' do %>
    <span class=" glyphicon glyphicon-pencil"></span>
  </h3>
  <% end %>
  <%end%>
  <hr/>
    </div>
  <%end%>
</div>
</div>
