<br /><br /><br />
<div class="container">
  <div class="row " style="background-color:#73BFB8;border-radius:20px">
    <div class="col-xs-4 prof-pic">
      <h2><%= @user.name%></h2>
      <img class="profilePic" src="http://i.imgur.com/IulSm39.jpg" alt="profile pic">
      <%if logged_in? && @user.id == current_user.id%>
          <%= link_to edit_user_path_url(@user) do %>
          <h3><span class=" glyphicon glyphicon-pencil"></span></h3>
          <%end%>

      <%else%>
      <%if logged_in? && @user.id != current_user.id%>
      <%= link_to new_message_path_url(:user_id => @user.id) do%>
       <h2><span class = "glyphicon glyphicon-envelope"></span></h2>
      <%end%>
        <%end%>
      <%end%>

    </div>
    <div class="col-xs-4 prof-info">
      <%if @user.is_hosting%>
      <h3 style="color:green">Im hosting campers!</h3>
      <%else%>
      <h3 style="color:red">I cant host at the moment</h3>
      <%end%>
      <h4>Email: <%= @user.email%></h4>
      <h4>Age: <%= @user.age%></h4>
      <h4>Bio: <%= @user.bio%></h4>
      <h4>Gear: <%= @user.gear%></h4>
    </div>
    <%if logged_in? && @user.id == current_user.id%>
    <div class="col-xs-4 prof-bookings text-center darkgreen" style="margin-left:-20px">
      <h2 class>My Bookings</h2>
      <br /><%= button_to 'sent requests',sent_bookings_path_url(@user), method: 'get', class: 'cool-btn'%><br/>
      <%= button_to 'incoming requests',incoming_bookings_path_url(@user),  method: 'get', class: 'cool-btn'%><span style="font-size:18px"><%if @incoming_pending_bookings.present?%> <span><%=@incoming_pending_bookings.count%> new requests</span><%end%><br/>
      <%= button_to 'upcoming campers',answered_bookings_path_url(@user),  method: 'get', class: 'cool-btn'%><br/>

    </div>
    <%end%>
  </div>
  <%if logged_in? && @user.id == current_user.id%>
  <h1 class ="text-center"> My yards</h1>
  <%= link_to new_yard_path_url, :method=>'get' do %>
  <h3 class = "text-center">
    <span class="cart glyphicon glyphicon-plus"></span><span>Add 1</span>
  </h3>
  <%end%>
  <%else%>
  <h1 class ="text-center"><%= @user.name%>'s yards</h1>
  <%end%>
  <div class = "row">
  <% @yards.each do |yard|%>
  <div class = "col-xs-6 text-center">
  <%=link_to yard_path_url(yard) do %>
  <%= image_tag('http://i.imgur.com/5gkUOut.jpg')%>
  <%end%>
  <h3><%= yard.title%></h3>
  <%= yard.description%><br/>
  <%if yard.kid_and_pet_friendly%>
  <p>Kid and Pet friendly!</p>
  <%else%>
  <p>No pets or kids sadly</p>
  <%end%>
  <%if yard.fire_friendly%>
  <p>Campfires allowed!</p>
  <%else%>
  <p>No campfires</p>
  <%end%>
  <%= yard.city %>
  <%= yard.zipcode%>
  <%if logged_in? && @user.id == current_user.id%>
  <%= link_to destroy_yard_path_url(yard), :method=>'delete' do %>
  <h3>
    <span class="glyphicon glyphicon-remove"></span>
  <%end%>
  <%= link_to edit_yard_path_url(yard), :method=>'get' do %>
    <span class=" glyphicon glyphicon-pencil"></span>
  </h3>
  <% end %>
  <%end%>
  <hr/>
    </div>
  <%end%>
</div>
</div>
